<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                <font color="red">{{ messages[0] }}</font><br><br>
            </div>
        {% endif %}
    {% endwith %}

    <form method="post">
        {{ form.csrf_token }}
        Логин: {{ form.login }}<br><br>
        Пароль: {{ form.password }}<br><br>
        <input type="submit" value="Войти">
    </form>

    <br><a href="{{ url_for('register') }}">Зарегистрироваться</a>
</body>
</html>